<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       ">

    <context:property-placeholder location="classpath:config.properties"/>

    <!-- 自动扫描包名 -->
    <context:component-scan base-package="com.xzy.mq" />

    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="firstDemoMessageProducer" class="com.xzy.mq.producer.impl.FirstDemoMessageProducer" lazy-init="false">
        <property name="topic" value="${ons.first.demo.topic}"/>
        <property name="producerId" value="${ons.first.demo.producer}"/>
    </bean>

    <!--  -->
    <bean id="firstDemoConsumerEventListener" class="com.xzy.mq.consumer.ConsumerEventListener">
        <property name="processConsumers">
            <map>
                <entry key="${ons.first.demo.topic}" value-ref="firstDemoMessageConsumer"/>
            </map>
        </property>
    </bean>

    <bean id="firstDemoMessageConsumer" class="com.xzy.mq.consumer.CommonMessageConsumer">
        <property name="consumerId" value="${ons.first.demo.consumer}"/>
        <property name="subscribers">
            <list>
                <ref bean="firstDemoSubscriber"/>
            </list>
        </property>
    </bean>

    <bean id="firstDemoSubscriber" class="com.xzy.mq.consumer.demo.subscriber.FirstDemoSubscriber"/>
</beans>